body {
    background-color: #E6E6E6
}

.nav-img {
    float: left;
    height: 105px;
    width: 105px;
    margin: 1em;
}

.navbar {
    float: right;
    padding: 0px;
    margin: 1em;
}

.bi {
    height: 105px;
    width: 105px;
    padding: .5em;
    border-radius: 52px;
    background-color: white;
    margin: 2em;
}

p {
    display: flex;
    justify-content: center;
}

img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 60vw;
    margin: 1em;

}

.small {
    height: 75px;
    width: 75px;
    padding: 0em;
    border-radius: 52px;
    background-color: white;
    margin: .75em;
    float: right;
}

.featured {
    float: left;
    margin: 1.5em;
    font-size: 2em;
}

.tweet {
    font-weight: bold;
    float: right;
    flex-wrap: wrap;
    width: 20%;
}

.tweet-para {
    width: 25%;
    float: right;
}

.d-lg-block {
    display: flex;
    float: right;
}

.img-article {
    height: 105px;
    width: 105px;
    float: start;
    /*margin: 0;*/
    margin-left: 25em;
}

.article {
    font-weight: bold;
    float: right;
    display: flex;
    flex-wrap: wrap;
    width: 50%;

}

.col-lg-3 {
    float: end
}

h5 {
    display: flex;
    align-items: center;
    justify-content: center;

}

.circle {
    background: lightblue;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: solid white 8px;
    text-align: center;
    line-height: 85px;
    font-weight: bold;
    color: white;
}


#design {
    background: #E6563B;
}

#develop{
    background: #EB9D3A;
}

#support {
    background: #7CB06C;
}

#host {
    background: #00ABA9;
}

.col-lg-9 {
    padding-left: 40em;
    margin-bottom: 2em;
}

